{% extends 'base.html.twig' %}

{% block body %}

    <header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ asset('home') }}">Accueil</a></li>
        <li class="active">A propos</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">A propos de notre association</h1>
            </header>
            <h3>Notre travail</h3>
            <p><img src="{{ asset('images/geese.jpg') }}" alt="canards sur un lac" class="img-rounded pull-right" width="300" > </p>
            <p>L'association "NOS AMIS LES OISEAUX" participe à un programme de recherche visant à étudier les effets du climat, de l'urbanisation et de l'agriculture sur la biodiversité.
                Passionnés d'ornithologie, professionnels ou non, l'association souhaite votre participation à cette étude organisée dans le cadre d'un projet européen. Vos promenades seront l'occasion d'alimenter notre base de données grâce à vos observations.

                Pour cela, il suffit de vous inscrire. Vous aurez alors accès à notre application qui vous permettra de :

                rechercher les différentes espèces d’oiseaux parmi la base de données (téléchargement via la base de données TAXREF du Muséum National d’Histoire Naturelle)

                les afficher sur une carte (après filtre par espèce)

                saisir une « observation » d’un oiseau sur le terrain, avec nom, date, coordonnées GPS et photo facultative.


                Professionnels, nous avons aussi besoin de vous pour contribuer à ces recherches, et valider les observations faites par les bénévoles non professionnels.</p>
    
        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->

{% endblock %}
