{% extends 'base.html.twig' %}

{% block body %}

	

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Accueil</a></li>
			<li class="active">Vos Observations</li>
		</ol>

		<div class="row">
			<div class="row">
				<p></p>
			</div>


			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="myPage-header">
					<h1 class="page-title">Vos Observations {{ username }}:</h1>
				</header>

				<div class="demo" id="J-demo">
                 
               </div>
				
               <script type="text/javascript">

               </script>

			</article>
			<!-- /Article -->

		</div>
	</div>    <!-- /container -->


{% endblock %}