.title-obs {
    font-weight: bold;
}

.img_obs {
    height: 150px;
    width: auto;
    border-radius: 4px;
}


.obs{
    padding-left: 15px;
}

#title-user{
    background-color: rgba(255,202,41, 0.2);
    padding: 10px;
/*  opacity: 0.2;*/
}

.btn-obs {
    margin: 6px;
}

.btn-grp-obs {
    padding-left: 14px;
}

#searchAside {
    height: 200px !important;
}

.tabBirdInfos {
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    color: white;
}

@media all and (min-width: 892px) {
    #sidebarMenu {
        height: auto;
        padding: 1px;
    }
}