.title-obs {
    font-weight: bold;
}

.img_obs {
    height: 150px;
    width: auto;
    border-radius: 4px;
}


.obs{
    padding-left: 15px;
}

#title-user{
    background-color: rgba(255,202,41, 0.2);
    padding: 10px;
/*  opacity: 0.2;*/
}

.btn-obs {
    margin: 6px;
}

.btn-grp-obs {
    padding-left: 14px;
}

#searchAside {
    height: 200px !important;
}

.tabBirdInfos {
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    color: white;
}

#img-accueil {
    height: auto;
    width: 500px;
}

/******************************** */
.pagerfanta {
}

.pagerfanta a,
.pagerfanta span {
    display: inline-block;
    border: 1px solid #FF9B22;
    color: #FF9B22;
    margin-right: .2em;
    padding: .25em .35em;
}

.pagerfanta a {
    text-decoration: none;
}

.pagerfanta a:hover {
    background: #ccf;
}

.pagerfanta .dots {
    border-width: 0;
}

.pagerfanta .current {
    background: #ccf;
    font-weight: bold;
}

.pagerfanta .disabled {
    border-color: #ccf;
    color: #ccf;
}

/*************************/

.pagerfanta a,
.pagerfanta span {
    border-color: #FF9B22;
    color: #FF9B22;
}

.pagerfanta a:hover {
    background: #ccf;
}

.pagerfanta .current {
    background: #c72b62;
}

.pagerfanta .disabled {
    border-color: #FF9B22;
    color: #FF9B22;
}

/************************/

@media all and (min-width: 892px) {
    #sidebarMenu {
        height: auto;
        padding: 1px;
    }
}